#URL
URL_MAIN=
URL_LOGIN=
URL_ARTICLE_LIST=
URL_ARTICLE_CONTENT=

# Credentials
MDL_USERNAME=
MDL_PASSWORD=
ORG_CODE=

# Token
HF_TOKEN=

# Path Location
FILE_LIST_PATH=
FILE_CONTENT_PATH=
FILE_TOPIC_DATA_PATH=
FILE_CLUSTERING_DATA_PATH=
FILE_READY_DATA_PATH=
DB_PATH=

# Name
DB_NAME=
MODEL_EMBEDDING_NAME=