# DB
PG_DB_USER=
PG_DB_PASSWORD=
DATABASE_URL=
DATABASE_URL_PROD=
DB_NAME=agc_db
DB_NAME_PROD=agc_db_prod
DB_CHROMA_PATH=data/chroma_db

#URL
NEXT_PUBLIC_API_URL="http://localhost:8000"
URL_MAIN=
URL_LOGIN=
URL_ARTICLE_LIST=
URL_ARTICLE_CONTENT=

# Credentials
MDL_USERNAME=
MDL_PASSWORD=
ORG_CODE=

# Token
HF_TOKEN=
JWT_SECRET_KEY=
JWT_ALGORITHM=
MODEL_GEN_GEMINI_API_KEY=

# Path Location Dipakai Jupyter/Notebook
FOLDER_GENERATION_DATA_PATH="data/generation/"
FILE_LIST_PATH="data/scraping/article_list.json"
FILE_CONTENT_PATH="data/scraping/article_content.json"
FILE_READY_DATA_PATH="data/scraping/ready_data.csv"
FILE_TOPIC_DATA_PATH="data/clustering/topic_data.json"
FILE_CLUSTERING_DATA_PATH="data/clustering/clustering_data.csv"
FILE_METADATA_GENERATED_ARTICLE_PATH="data/generation/metadata.json"

# Global Variable
MODEL_EMBEDDING_NAME=
AGC_TOKEN_NAME=
MYDIGILEARN_TOKEN_NAME=