beautifulsoup4==4.14.3
bertopic==0.17.4
chromadb==1.5.9
fastapi==0.136.1
hdbscan==0.8.42
httpx==0.28.1
nltk==3.9.4
pandas==3.0.2
protobuf>=4.25.8
pydantic==2.13.4
pyprojroot==0.3.0
python-dotenv==1.2.2
Requests==2.33.1
scikit_learn==1.8.0
sentence_transformers==5.4.1
umap_learn==0.5.12
google-genai==1.66.0