@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@plugin "tailwindcss-animate";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  html, body {
    font-family: var(--font-jakarta), ui-sans-serif, system-ui, sans-serif !important;
  }

  .font-mono {
    font-family: var(--font-jetbrains), var(--font-fira), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace !important;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* *, *::before, *::after {
  cursor: none !important;
} */

* {
  cursor: url('/dot_cursor_2.png') 16 16, auto !important;
}

html, body {
  cursor: url('/dot_cursor_2.png'), auto;
  background: var(--background);
  color: var(--foreground);
  /* font-famil y: Arial, Helvetica, sans-serif; */
}

/* --- AUTOFILL OVERRIDE --- */
/* Mencegah browser mengubah background input menjadi putih saat autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Mengubah warna teks autofill menjadi abu-abu terang kita */
    -webkit-text-fill-color: #E5DADA !important;
    
    /* Menunda perubahan background dari browser selama 5000 detik */
    transition: background-color 5000s ease-in-out 0s !important;
    
    /* Opsional: Menghilangkan border bawaan browser jika ada */
    caret-color: white; 
}